@using Restorant_Sitesi.Models
@model Tuple<List<REZARVASYONLAR>, List<YORUMLAR>, List<DUYURUBLOGYORUMLARI>>

<li class="nav-item dropdown-lg">

    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();" style="position: relative;">
        <i class="fa fa-bell-o"></i>
        @if (ViewBag.BildirimSayisi > 0)
        {
            <span class="badge badge-danger badge-up"
                  style="position: absolute; top: 12px; right: 10px; font-size: 10px; padding: 3px 5px;">
                @ViewBag.BildirimSayisi
            </span>
        }
    </a>

    <div class="dropdown-menu dropdown-menu-right">
        <ul class="list-group list-group-flush">

            <li class="list-group-item d-flex justify-content-between align-items-center">
                Bekleyen İşlemler
                <span class="badge badge-primary">@ViewBag.BildirimSayisi</span>
            </li>

            @foreach (var x in Model.Item1)
            {
                <li class="list-group-item">
                    <a href="/Admin/Index">
                        <div class="media">
                            <i class="zmdi zmdi-calendar-check fa-2x mr-3 text-warning"></i>
                            <div class="media-body">
                                <h6 class="mt-0 msg-title" style="font-size: 14px;">@x.MusteriAdSoyad</h6>
                                <p class="msg-info" style="font-size: 11px;">
                                    @(x.Tarih.HasValue ? x.Tarih.Value.ToString("dd.MM") : "") - @x.Saat
                                    <br>
                                    <span class="text-muted">@x.KisiSayisi Kişilik Masa</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            }

            @foreach (var y in Model.Item2)
            {
                <li class="list-group-item">
                    <a href="/Admin/Index">
                        <div class="media">
                            <i class="zmdi zmdi-comment-text fa-2x mr-3 text-info"></i>
                            <div class="media-body">
                                <h6 class="mt-0 msg-title" style="font-size: 14px;">@y.MusteriAdSoyad</h6>
                                <p class="msg-info" style="font-size: 11px;">Müşteri Yorumu Bekliyor</p>
                            </div>
                        </div>
                    </a>
                </li>
            }

            @foreach (var b in Model.Item3)
            {
                <li class="list-group-item">
                    <a href="/Admin/BlogYorumlari">
                        <div class="media">
                            <i class="fa fa-rss-square fa-2x mr-3 text-danger"></i>
                            <div class="media-body">
                                <h6 class="mt-0 msg-title" style="font-size: 14px;">@b.MusteriAdSoyad</h6>
                                <p class="msg-info" style="font-size: 11px;">Blog Yorumu Bekliyor</p>
                            </div>
                        </div>
                    </a>
                </li>
            }

            @if (ViewBag.BildirimSayisi == 0)
            {
                <li class="list-group-item text-center">
                    <p class="msg-info" style="margin: 10px 0;">Yeni bildirim yok.</p>
                </li>
            }

            <li class="list-group-item text-center">
                <a href="/Admin/Index">Panele Git</a>
            </li>

        </ul>
    </div>
</li>