@model Restorant_Sitesi.Models.USTILETISIM
<div class="wrap">
    <div class="container">
        <div class="col-12 col-md d-flex align-items-center">
            <p class="mb-0 phone"><span class="mailus">Telefon numarası:</span> <a href="#">@Model.Telefon</a> veya <span class="mailus">e-posta adresimiz:</span> <a href="mailto:gencayceliker@gmail.com">@Model.Mail</a></p>
        <div class="col-12 col-md d-flex justify-content-md-end">
            <p class="mb-0">@Model.AcilisKapanis</p>
            <div class="social-media">
                <p class="mb-0 d-flex">
                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">@Model.Facebook</i></span></a>
                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">@Model.Twitter</i></span></a>
                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">@Model.Instagram</i></span></a>
                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-linkedin"><i class="sr-only">@Model.Linkedin</i></span></a>
                </p>
            </div>
            </div>
        </div>
    </div>
</div>